.Container {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.Message {
    color: darkgrey;
    text-align: center;
    width: 100%;
}
