.StatList {
    padding: 0;
    width: max-content;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* margin-right: auto;
    margin-left: auto; */
    /* border: solid 1px red; */
}

.Container {
    display: flex;
    flex-direction: column;
    width: max-content;
    border: solid 1px red;
    margin-left: auto;
    margin-right: auto;
}
