.StatList {
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.ContainerTotal {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 0px;
}

.TotalData {
    color: rgb(201, 11, 11);
}
