.Container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    border: solid 1px green;
}
.OptList {
    padding: 0;
    width: max-content;
    list-style: none;
    display: flex;
    border: solid 1px red;
}

.OptItem {
    margin: 15px;
}
