.Container {
    display: flex;
    flex-direction: column;
    width: max-width;
    align-items: center;
}
.OptList {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    width: max-width;
    list-style: none;
}

.OptItem {
}

.FeedbackBtn {
    width: 80px;
    height: 60px;
    margin: 10px;
    background-color: rgb(238, 250, 130);
}

.FeedbackBtn:hover {
    color: #ffffff;
    background-color: rgb(4, 155, 72);
}
