.Container {
    display: flex;
    flex-direction: column;
    width: max-width;
    /* border: solid 1px red; */
    align-items: center;
    background-color: #ffffffaa;
    padding: 10px;
}

.FeedbackTitle {
    margin: 0;
}
