.App {
    background-color: blanchedalmond;
    width: max-content;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2),
        1px 1px 3px 1px rgba(0, 0, 0, 0.14), 1px 1px 3px 1px rgba(0, 0, 0, 0.12);
}
